* {
    text-align: right;

}
    body {
            background-color: #d5cea3;
            font-family: sajjadraza;
            text-align: center;
            margin: 20px;
            font-size: 34px;
        }

    @font-face {
        font-family: sajjadraza;
        src: url(../../Jameel\ Noori\ Nastaleeq.ttf);
    }

        h1 {
            background-color: rgb(7, 24, 6);
            color: aliceblue;
            text-align: center;
        }


    #back {
        background-color:brown;
        color: rgb(255, 255, 255);
        border: none;
        font-size: 32px;
        font-family: sajjadraza; 
    }
